
-@categories.each do |category|
  %article.video_category
    %header
      %h2 #{category.title}
    .videos.row
      - category.recent_videos.each do |video|
        .video.col-sm-2
          %a{:href => "#{video_path(video.id)}", id: "video_#{video.id}_link"}
            %img{src: "#{video.small_cover_url}", id: "video_#{video.id}"}
        
